@media only screen and (orientation:portrait){
    body {
      height: 100vw;
      transform: rotate(90deg);
    }
  }
html {
    background-image: url("hw.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     
}
.men {
    float: left;
    border: aqua solid 4px;
    border-radius: 33%;
    padding: 8px;
    background-color: #b38bc4;
    font-size: 75%;
}
.men:hover {
    background-color: #d97e7e;
}
.tit {
    text-align: center;
    color: aquamarine;
    margin-top: 2%;
    margin-bottom: 1%;
}
.pernam{
    float: right;
    color: deepskyblue;
}
.allm {
   background-color: #d97e7e7b; 
   width: 60%;
   height: calc(40vh);
   text-align: center;
   border: solid 6px #4f9cdb;
   padding: 4px;
   float: right;
   overflow: auto;
}
.butm {
   background-color: #34d7f776; 
   width: 60%;
   height: calc(39vh);
   border: solid 6px #4f9cdb;
   padding: 4px;
   overflow: auto;
   float: right;
}
.cout {
   background-color: #f0f8006b; 
   width: 30%;
   height: calc(80vh);
   text-align: center;
   border: solid 6px #4f9cdb;
   padding: 10px;
   float: left;
   overflow: auto;
}
.bcit {
   background-color: #4b90d6bc; 
   width: 23%;
   height: 75%;
   text-align: center;
   border: solid 6px #4f9cdb;
   padding: 4px;
   float: left;
   margin-left: 5%;
   overflow: auto;
}
.bcit1 {
   background-color: #ebd1888d; 
   width: 27%;
   height: 85%;
   text-align: center;
   border: solid 6px #4f9cdb;
   padding: 2px;
  float: right;
  overflow: auto;
  margin-top: 0%;
}
.btbl{
    border: solid 1px blue;
    width: 98%;
    margin: auto;
    font-size: 65%;
}
.btbl th {
    width: 15%;
    border:black 4px solid;
    background-color: #ebd088;
    text-align: center;
}
.btbl td {
    width: 15%;
    border:black 4px solid;
    background-color: #88d9eb;
    text-align: center;
}
.but {
    border: solid 1px black;
    background-color: #7BDDF2;
    color: crimson;
    font-weight: bold;
}
.but:hover {
    cursor: pointer;
    background-color: #EAE45C;
    color: crimson; 
}
.butc {
    border: solid 2px black;
    background-color: #4b90d6;
    color: crimson;
    font-weight: bold;
    font-size: 95%;
}
.butc:hover {
    cursor: pointer;
    background-color: #EAE45C;
    color: crimson; 
}
.mkbt {
  background-color: #eae35c9f;
  width: 20%;
  height: 20%;
  border: #ff0000 solid 4px;
  padding: 8px;
  float: right;
  overflow: auto;
  text-align: center;
}
.debt {
  background-color: #eae35ca1;
  width: 20%;
  height: 20%;
  border: #ff0000 solid 4px;
  padding: 8px;
  float: left;
  overflow: auto;
  text-align: center;
}
.btaera {
  background-color: rgba(233, 150, 122, 0.486);
  border: solid 2px #ff0000;
  padding: 4px;
  width: 96%;
  height: 65%;
  text-align: center;
  overflow: auto;
  margin: auto;
}
.ctnn{
    border: solid 2px crimson;
    width: 45%;
    float: left;
}
.deit{
    border: solid 2px crimson;
    width: 45%;
    float: right; 
}
.reci{
    border: solid green 2px;
    width: 99%;
    height: 90%;
    overflow: auto;
}
.pr{
    border: solid rgb(194, 247, 6) 2px;
    width: 99%;
    height: 83%;
    overflow: auto;  
}
.dirc{
    background-color: #34d7f7; 
    color:#ff0000; 
    width: 40px; 
    height:60px; 
    text-align:center;
    font-size:20px;  
}
.dcm{
    float: left;
    border: solid 2px darkorange;
    width: 25%;
    height: 85%;
    overflow: auto;
}
.err{
    color: crimson;
    font-weight: bold;
}
.mstr{
    border: solid 2px navy;
    background-color: rgba(255, 228, 196, 0.573);
    width: 99vw;
    height: 85vh;
    overflow: auto;
}
.qtsz{
    width: 15%;
}
.btd{
    border: solid 1px cornsilk;
    width: 16%;
    height: 20%;
    margin-top: 0%;
    margin-bottom: 1%;
    float: left;
    overflow: auto;
}
.bfx{
    border: solid 2px lime;
    background-color: cornflowerblue;
    font-size: 70%;
    height: 99%;
}
.bfx:hover{
    border: solid 2px navy;
    background-color: #9ff27b;
}
.bfx:focus{
    background-color: darkred;
}
.add{
    color: rgb(255, 252, 252);
    position: fixed;
    bottom: 0;
}